body[theme="dracula"] {
	--drx-color-base: #191A21;
	--drx-color-surface: #21222C;
	--drx-color-overlay: #343746;
	--drx-color-highlight: #44475A;

	--drx-color-text: #F8F8F2;
	--drx-color-subtext: #BABCC9;
	--drx-color-deactivate: #707487;

	--drx-color-accent: #BD93F9;
	--drx-color-important: #ED9EFF;
	--drx-color-settings: #BD93F93F;

    --drx-button-inactive: brightness(0) saturate(100%) invert(94%) sepia(3%) saturate(436%) hue-rotate(34deg) brightness(100%) contrast(94%);
    --drx-button-active: brightness(0) saturate(100%) invert(73%) sepia(41%) saturate(3824%) hue-rotate(211deg) brightness(99%) contrast(97%);
}
