body[theme="dracula-light"] {
    --color-foreground-1: #44475A;
    --color-foreground-2: #B9BAC2;
    --color-background-1: #DDDDE3;
    --color-background-2: #F4F4F6;

	--color-border: #C7C8D1;

    --color-shadow: #DDDDE3;
    --color-highlight: #D6ACFF;

    --color-accent: #BD93F9;
    --color-blur: #BD93F93F;

    --button-inactive: invert(81%) sepia(2%) saturate(1524%) hue-rotate(196deg) brightness(84%) contrast(86%);
    --button-active: invert(65%) sepia(28%) saturate(1637%) hue-rotate(211deg) brightness(100%) contrast(96%);
}
