body[theme="dracula-light"] {
    --drx-color-base: #dce0e8;
    --drx-color-surface: #eff1f5;
    --drx-color-overlay: #fcfcfd;
    --drx-color-highlight: #ffffff;

    --drx-color-text: #4C4F69;
    --drx-color-subtext: #5C5F77;
    --drx-color-deactivate: #ACB0BE;

    --drx-color-accent: #EA76CB;
	--drx-color-important: #EE95D7;
	--drx-color-settings: #EA76CB3F;

    --drx-button-inactive: brightness(0) saturate(100%) invert(40%) sepia(6%) saturate(1468%) hue-rotate(196deg) brightness(90%) contrast(93%);
    --drx-button-active: brightness(0) saturate(100%) invert(77%) sepia(36%) saturate(3180%) hue-rotate(281deg) brightness(95%) contrast(94%);
}
