body[theme="dracula-light"] {
    --color-foreground-1: #44475A;
    --color-foreground-2: #B9BAC2;

    --color-background-1: #DDDDE3;
    --color-background-2: #F4F4F6;

    --color-accent: #BD93F9;
    --color-blur: #BD93F933;

    --color-shadow: #A5A7B6;
    --color-highlight: #D6ACFF;

    --button-inactive: brightness(0) saturate(100%) invert(78%) sepia(7%) saturate(219%) hue-rotate(196deg) brightness(96%) contrast(92%);
    --button-active: invert(68%) sepia(92%) saturate(2532%) hue-rotate(213deg) brightness(101%) contrast(103%);
}

