body[theme="gruvbox"] {
    --color-foreground-1: #EBDBB2;
    --color-foreground-2: #7C6F64;
    --color-background-1: #3C3836;
    --color-background-2: #282828;

	--color-border: #504945;

    --color-shadow: #1d2021;
    --color-highlight: #D3869B;

    --color-accent: #D3869B;
    --color-blur: #D3869B3F;

    --button-inactive: invert(29%) sepia(15%) saturate(238%) hue-rotate(338deg) brightness(96%) contrast(97%);
    --button-active: invert(78%) sepia(88%) saturate(2096%) hue-rotate(291deg) brightness(92%) contrast(77%);
}

