body[theme="gruvbox"] {
	--drx-color-base: #282828;
	--drx-color-surface: #3c3836;
	--drx-color-overlay: #504945;
	--drx-color-highlight: #665c54;

	--drx-color-text: #ebdbb2;
	--drx-color-subtext: #d5c4a1;
	--drx-color-deactivate: #928374;

	--drx-color-accent: #d65d0e;
	--drx-color-important: #fe8019;
	--drx-color-settings: #d65d0e3F;

    --drx-button-inactive: brightness(0) saturate(100%) invert(87%) sepia(4%) saturate(1698%) hue-rotate(3deg) brightness(92%) contrast(90%);
    --drx-button-active: brightness(0) saturate(100%) invert(41%) sepia(84%) saturate(840%) hue-rotate(350deg) brightness(87%) contrast(101%);
}

