:root {
    --color-foreground-1: transparent;
    --color-foreground-2: transparent;

    --color-background-1: transparent;
    --color-background-2: transparent;
    --color-background-3: transparent;

    --color-accent-1: transparent;
    --color-accent-2: transparent;

    --color-shadow-1: transparent;
    --color-shadow-2: transparent;

    --transition-speed: 0.25s;
    --border-radius: 0.75rem;

    --icon-settings-open-1: url("../images/dracula-settings-open-1.svg");
    --icon-settings-open-2: url("../images/dracula-settings-open-2.svg");
    --icon-settings-close-1: url("../images/dracula-settings-close-1.svg");
    --icon-settings-close-2: url("../images/dracula-settings-close-2.svg");
}


@font-face {
    font-family: "default-font";
    src: url("../fonts/hack.ttf");
}

* {
    font-family: 'default-font', sans-serif;
    font-size: 18px;
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    background: var(--color-background-2);
    color: var(--color-foreground-1);
}

a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--color-foreground-1);
    margin-left: 1.5rem;
    transition: var(--transition-speed) ease;
}

a:hover {
    font-weight: bold;
    text-shadow: var(--color-shadow-2) 0rem 0rem 0.5rem;
    color: var(--color-accent-1);
    transition: var(--transition-speed) ease;
}

ul {
    list-style-type: none;
    margin: 0rem 2rem 0rem 2rem;
    padding: 0;
    white-space: nowrap;
}

li {
    color: var(--color-accent-1);
    line-height: 1.5rem;
}

li:first-child {
    display: inline-block;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 2rem;
    text-align: center;
}

#date-display {
    color: var(--color-accent-1);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    grid-column: 1/-1;
    margin-bottom: 0;
}

#search-form {
    text-align: center;
    grid-column: 1/-1;
    margin-top: 0rem;
    margin-bottom: 2.3rem;
}

#search-input {
    background: var(--color-background-2);
    color: var(--color-foreground-1);
    font-size: 1rem;
    justify-content: start;
    margin-top: 1rem;
    height: 100%;
    width: 100%;
    text-align: center;
    border-color: transparent;
    border-radius: var(--border-radius);
    border-width: 0.2rem;
    border-style: solid;
    transition: var(--transition-speed) ease;
}

#search-input:hover {
    background: var(--color-background-2);
    border-color: var(--color-foreground-2);
    border-width: 0.2rem;
    border-radius: var(--border-radius);
    border-style: solid;
}

#search-input::placeholder {
    color: var(--color-foreground-2);
    font-size: 1rem;
    border-width: 0.2rem;
    border-color: transparent;
}

#search-input:focus {
    background-color: var(--color-background-3);
    border-color: var(--color-accent-1);
    border-width: 0.22rem;
    border-radius: var(--border-radius);
    border-style: solid;
    outline: none;
}

#settings-content {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(16px);
    align-items: center;
    background-color: var(--color-accent-2);
	z-index: 2;
}

.settings-selector {
    background-color: var(--color-background-2);
    color: var(--color-foreground-1);
    border: none;
    border-radius: var(--border-radius);
    appearance: none;
    padding: 1rem;
    cursor: pointer;
}

.settings-selector:hover {
    background-color: var(--color-background-1);
    transition: var(--transition-speed) ease-in-out;
}

.settings-selector option {
    height: 3rem;
    background-color: var(--color-background-2);
}

.settings-selector:focus {
    outline: none;
}

.settings-display {
    height: 1.5rem;
    width: 1.5rem;
    background: none;
    background-image: var(--icon-settings-open-1);
    background-size: cover;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 2vh;
    right: 2vw;
    transition: var(--transition-speed) ease-in-out;
	z-index: 1;
}

.settings-display:hover {
    background-image: var(--icon-settings-open-2);
    transition: var(--transition-speed) ease-in-out;
}

.settings-hide {
    margin-top: 2rem;
    height: 1.5rem;
    width: 1.5rem;
    border: none;
    background: none;
    background-image: var(--icon-settings-close-1);
    background-size: cover;
    transition: var(--transition-speed) ease-in-out;
}

.settings-hide:hover {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    border: none;
    background: none;
    background-image: var(--icon-settings-close-2);
    background-size: cover;
    transition: var(--transition-speed) ease-in-out;
}

.settings-box {
    display: flex;
    background: var(--color-background-3);
    box-shadow: var(--color-shadow-1) 0rem 0rem 2.75rem;
    border-radius: var(--border-radius);
	padding: 3rem;
    flex-direction: column;
    align-items: center;
}

.settings-separator {
	display: flex;
	gap: 3rem;
	flex-direction: row;
	align-items: center;

}

.settings-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.image-display {
    height: 35rem;
	width: 20rem;
	object-fit: cover;
    border-radius: var(--border-radius);
    box-shadow: var(--color-shadow-1) 0rem 1rem 2.75rem;
    transition: var(--transition-speed) ease-in-out;
}

.image-display:hover {
    height: 37rem;
	width: 22rem;
    box-shadow: var(--color-shadow-2) 0rem 0rem 2rem;
    transition: var(--transition-speed) ease-in-out;
}

.navigation-content {
    background: var(--color-background-3);
    border-radius: var(--border-radius);
    box-shadow: var(--color-shadow-1) 0rem 1rem 2.75rem;
    display: grid;
    padding: 3rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    width: 30rem;
    height: 35rem;
    grid-auto-rows: max-content;
    transition: var(--transition-speed) ease-in;
}

.title-display {
    color: var(--color-foreground-1);
    font-size: 2rem;
    font-weight: 600;
    grid-column: 1/-1;
    text-align: center;
    margin-bottom: 0;
}

@media (max-width: 1200px) {
    body {
        gap: 0px;
        transition: var(--transition-speed) ease-in-out;
    }

    .image-display {
        display: none;
    }
}

@media (max-width: 800px) {
    body {
        background: var(--color-background-2);
        gap: 0px;
        transition: var(--transition-speed) ease-out;
    }

    ul {
        margin: 0vw 2vw 0vw 2vw;
    }

    #search-input {
        background: var(--color-background-3);
    }

    .image-display {
        display: none;
    }

    .navigation-content {
        background: none;
        box-shadow: none;
        transition: var(--transition-speed) ease-out;
        width: 64vw;
    }
}

@media screen and (max-width: 1600px) and (max-height: 900px) {
    * {
        font-size: 16px;
    }
}
