:root {
	--color-foreground-1: transparent;
	--color-foreground-2: transparent;
	--color-background-1: transparent;
	--color-background-2: transparent;

	--color-border: transparent;

	--color-shadow: transparent;
	--color-highlight: transparent;

	--color-accent: transparent;
	--color-blur: transparent;

	--button-inactive: transparent;
	--button-active: transparent;

	--transition-speed: 0.25s;
	--border-radius: 10px;
	--border-width: 2px;
	--shadow-radius: 8px;
}


@font-face {
	font-family: "default-font";
	src: url("../fonts/hack.ttf");
}

* {
	font-family: 'default-font', sans-serif;
	font-size: 18px;
}

html {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 5vw;

	background: var(--color-background-1);
	color: var(--color-foreground-1);
}

a {
	margin-left: 1.5rem;
	text-decoration: none;
	font-size: 1rem;
	color: var(--color-foreground-1);

	transition: var(--transition-speed) ease;
}

a:hover {
	font-weight: bold;
	color: var(--color-accent);

	transition: var(--transition-speed) ease;
}

ul {
	margin: 0rem 2rem 0rem 2rem;
	padding: 0rem;
	list-style-type: none;
	white-space: nowrap;
}

li {
	line-height: 1.5rem;
	color: var(--color-accent);
}

li:first-child {
	display: inline-block;

	margin-bottom: 0.5rem;

	text-align: center;
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 2rem;
}

#settings-container {
	display: none;
	position: fixed;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 2;

	width: 100%;
	height: 100%;

	background-color: var(--color-blur);
	backdrop-filter: blur(16px);
}

#settings-box {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 3rem;

	background: var(--color-background-2);

	box-shadow: var(--color-shadow) 0rem 0rem var(--shadow-radius);
	border-radius: var(--border-radius);
	border: var(--border-width) solid var(--color-border);
}

#settings-content {
	display: flex;
	flex-direction: row;
	align-items: center;

	gap: 3rem;
}

.settings-options {
	display: flex;
	flex-direction: column;

	gap: 1rem;
}

.settings-selector {
	padding: 1rem;
	appearance: none;
	cursor: pointer;

	background-color: var(--color-background-1);
	color: var(--color-foreground-1);

	border-radius: var(--border-radius);
	border: var(--border-width) solid var(--color-border);
	box-shadow: var(--color-shadow) 0rem 0rem var(--shadow-radius);
}

.settings-selector option {
	height: 3rem;
	background-color: var(--color-background-1);
}

.settings-selector:hover {
	background-color: var(--color-blur);
	transition: var(--transition-speed) ease-in-out;
}

.settings-selector:focus {
	outline: none;
}

#settings-display {
	display: flex;
	position: absolute;
	justify-content: center;
	z-index: 1;

	height: 1.5rem;
	width: 1.5rem;
	top: 2vh;
	right: 2vw;

	border: none;
	cursor: pointer;
	background: none;
}

#settings-hide {
	display: flex;
	justify-content: center;

	margin-top: 2rem;
	height: 1.5rem;
	width: 1.5rem;

	border: none;
	background: none;
}

#shortcuts-container {
	display: grid;
	grid-row-gap: 1rem;
	grid-auto-rows: max-content;
	grid-template-columns: 1fr 1fr;

	padding: 3rem;
	width: 30rem;
	height: 35rem;

	background: var(--color-background-2);
	border-radius: var(--border-radius);
	box-shadow: var(--color-shadow) 0rem 0rem var(--shadow-radius);
	border: var(--border-width) solid var(--color-border);
}

#title-display {
	margin-bottom: 0;
	grid-column: 1/-1;

	text-align: center;
	font-size: 2rem;
	font-weight: 600;

	color: var(--color-foreground-1);
}

#date-display {
	margin-bottom: 0;
	grid-column: 1/-1;

	text-align: center;
	font-size: 1.25rem;
	font-weight: 600;

	color: var(--color-accent);
}

#search-form {
	margin-top: 0rem;
	margin-bottom: 2.3rem;
	grid-column: 1/-1;

	text-align: center;
}

#search-input {
	justify-content: start;
	text-align: center;

	margin-top: 1rem;
	height: 100%;
	width: 100%;

	font-size: 1rem;
	border-radius: var(--border-radius);
	border: var(--border-width) solid var(--color-border);
	box-shadow: var(--color-shadow) 0rem 0rem var(--shadow-radius);

	background: var(--color-background-1);
	color: var(--color-foreground-1);

	transition: var(--transition-speed) ease;
}

#search-input:hover {
	border-color: var(--color-foreground-2);
	border-radius: var(--border-radius);
	background: var(--color-background-1);
}

#search-input::placeholder {
	font-size: 1rem;
	color: var(--color-foreground-2);
}

#search-input:focus {
	border-color: var(--color-accent);
	outline: none;
}

.svg-container {
	margin-left: 0.75rem;
	margin-right: 0.75rem;
}

.svg-icon {
	width: 1.5rem;
	height: 1.5rem;
	filter: var(--button-inactive);
}

.svg-icon:hover {
	filter: var(--button-active);
	cursor: pointer;
}

#image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 41rem;
	width: 22rem;

	gap: 1rem;
}

#image-display {
	height: 35rem;
	width: 20rem;
	object-fit: cover;

	box-shadow: var(--color-shadow) 0rem 0rem var(--shadow-radius);
	border-radius: var(--border-radius);
	border: var(--border-width) solid var(--color-border);

	transition: var(--transition-speed) ease-in-out;
}

#image-display:hover {
	height: 37rem;
	width: 22rem;
	box-shadow: var(--color-highlight) 0rem 0rem 16px;
	transition: var(--transition-speed) ease-in-out;
	border: var(--border-width) solid var(--color-highlight);
}

#image-box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 37rem;
}

#image-link-box {
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0rem;
}

#icons-box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(3rem - 4px);
	width: 20rem;

	background: var(--color-background-2);

	box-shadow: var(--color-shadow) 0rem 0rem var(--shadow-radius);
	border-radius: var(--border-radius);
	border: var(--border-width) solid var(--color-border);
}

@media (max-width: 1250px) {
	#image-container {
		display: none;
	}
}

@media (max-width: 768px) {
	ul {
		margin: 0vw 2vw 0vw 2vw;
	}

	#search-input {
		background: var(--color-background-2);
	}

	#shortcuts-container {
		background: none;
		box-shadow: none;
		width: 100%;
	}

	#image-container {
		display: none;
	}
}

@media screen and (max-width: 1600px) and (max-height: 900px) {
	* {
		font-size: 16px;
	}
}

@media screen and (max-width: 1366px) and (max-height: 758px) {
	* {
		font-size: 14px;
	}
}
