:root {
    --primary-background-color: #282A36;
    --secondary-background-color: #44475A;
    --tertiary-background-color: #1E1F29;
    --primary-foreground-color: #F8F8F2;
    --secondary-foreground-color: #BD93F9;
    --tertiary-foreground-color: #757b99;
    --normal-shadow: #00000040;
    --selected-shadow: #BD93F940;
}

@font-face {
    font-family: "Font";
    src: url("../fonts/hack.ttf");
}

html {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

body {
    background: var(--primary-background-color);
    color: -var(--primary-foreground-color);
    font-family: Font;
    font-size: 18px;
    display: flex;
    margin-right: 2em;
    padding: 1em;
}

img {
    height: 600px;
    width: 350px;
    margin-left: 10em;
    margin-left: 10em;
    border-radius: 10px;
    box-shadow: var(--normal-shadow) 0px 54px 55px;
    transition: width 0.3s ease, height 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
    height: 610px;
    width: 360px;
    box-shadow: var(--selected-shadow) 0px 54px 55px;
}

nav {
    display: grid;
    grid-row-gap: 1em;
    grid-template-columns: 1fr 1fr;
    min-width: 24em;
    grid-auto-rows: max-content;
}

h1 {
    color: var(--primary-foreground-color);
    font-size: 2em;
    font-weight: 600;
    grid-column: 1/-1;
    text-align: center;
    margin-bottom: 0;
}

h2 {
    color: var(--secondary-foreground-color);
    font-size: 1.25em;
    font-weight: 600;
    grid-column: 1/-1;
    text-align: center;
    margin-bottom: 0;
}

form {
    grid-column: 1/-1;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 2.3em;
}


ul {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    list-style-type: none;
}

li {
    color: var(--secondary-foreground-color);
    line-height: 1.4em;
    margin-left: 4.8em;
}

li:first-child {
    display: inline-block;
    font-size: 1.25em;
    font-weight: 600;
    text-align: center;
    line-height: 2em;
    margin-left: 2.5em;
}

a {
    color: var(--primary-foreground-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--secondary-foreground-color);
    font-weight: bold;
}

input {
    background: var(--secondary-background-color);
    color: var(--primary-foreground-color);
    font-size: 1em;
    justify-content: start;
    height: 100%;
    border-color: transparent;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    border-width: 0.2em;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

input:hover {
    background: var(--secondary-background-color);
    border-color: var(--tertiary-foreground-color);
    border-width: 0.2em;
    border-radius: 10px;
    border-style: solid;
}

input::placeholder {
    color: var(--tertiary-foreground-color);
    font-size: 1em;
    border-width: 0.2em;
    border-color: transparent;
}

input:focus {
    background-color: var(--tertiary-background-color);
    border-color: var(--secondary-foreground-color);
    border-width: 0.22em;
    border-radius: 10px;
    border-style: solid;
    outline: none;
}

@media (max-width: 1300px) {
    .image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        margin-left: 5vw;
        width: 25vw;
        height: auto;
    }

    img:hover {
        width: 28vw;
        height: auto;
    }

}

@media (max-width: 1000px) {
    img {
        display: none;
    }
}