:root {
	--drx-color-base: #232429;
	--drx-color-surface: #232429;
	--drx-color-overlay: #232429;
	--drx-color-highlight: #232429;

	--drx-color-text: #232429;
	--drx-color-subtext: #232429;
	--drx-color-deactivate: #232429;

	--drx-color-accent: #232429;
	--drx-color-important: #232429;
	--drx-color-settings: #2324293F;

    --drx-button-inactive: brightness(0) saturate(100%) invert(94%) sepia(3%) saturate(436%) hue-rotate(34deg) brightness(100%) contrast(94%);
    --drx-button-active: brightness(0) saturate(100%) invert(73%) sepia(41%) saturate(3824%) hue-rotate(211deg) brightness(99%) contrast(97%);

	--drx-transition-speed: 0.25s;
	--drx-border-radius-big: 10px;
	--drx-border-radius-small: 10px;
	--drx-shadow-radius: 8px;
}

@font-face {
	font-family: "default-font";
	src: url("../fonts/hack.ttf");
}

* {
	font-family: 'default-font', sans-serif;
	font-size: 18px;
}

html {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 5vw;

	background: var(--drx-color-base);
	color: var(--drx-color-text);
}

a {
	margin-left: 1.5rem;
	text-decoration: none;
	font-size: 1rem;
	color: var(--drx-color-text);

	transition: var(--drx-transition-speed) ease;
}

a:hover {
	font-weight: bold;
	color: var(--drx-color-accent);

	transition: var(--drx-transition-speed) ease;
}

ul {
	margin: 0rem 0rem 0rem 1.75rem;
	padding: 0rem;
	list-style-type: none;
	white-space: nowrap;
}

li {
	line-height: 1.5rem;
	color: var(--drx-color-accent);
}

li:first-child {
	display: inline-block;

	margin-bottom: 0.5rem;

	text-align: center;
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 2rem;
}

#settings-container {
	display: none;
	position: fixed;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 2;

	width: 100%;
	height: 100%;

	background-color: var(--drx-color-settings);
	backdrop-filter: blur(16px);
}

#settings-box {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 3rem;

	background: var(--drx-color-surface);
	border-radius: var(--drx-border-radius-big);
}

#settings-content {
	display: flex;
	flex-direction: row;
	align-items: center;

	gap: 3rem;
}

.settings-options {
	display: flex;
	flex-direction: column;

	gap: 1rem;
}

.settings-selector {
	padding: 1rem;
	appearance: none;
	cursor: pointer;

	background-color: var(--drx-color-overlay);
	color: var(--drx-color-text);
	border-radius: var(--drx-border-radius-small);
	border: none;
}

.settings-selector option {
	height: 3rem;
	background-color: var(--drx-color-base);
}

.settings-selector:hover {
	background-color: var(--drx-color-highlight);
	transition: var(--drx-transition-speed) ease-in-out;
}

.settings-selector:focus {
	outline: none;
}

#settings-display {
	display: flex;
	position: absolute;
	justify-content: center;
	z-index: 2;

	height: 1.5rem;
	width: 1.5rem;
	top: 2vh;
	right: 2vw;

	border: none;
	cursor: pointer;
	background: none;
}

#settings-hide {
	display: flex;
	justify-content: center;

	margin-top: 2rem;
	height: 1.5rem;
	width: 1.5rem;

	border: none;
	background: none;
}

#shortcuts-container {
	display: grid;
	grid-row-gap: 1rem;
	grid-auto-rows: max-content;
	grid-template-columns: 1fr 1fr;

	padding: 3rem 5rem;
	width: 25rem;
	height: 35rem;

	background: var(--drx-color-surface);
	border-radius: var(--drx-border-radius-big);
}

#title-display {
	margin-bottom: 0;
	grid-column: 1/-1;

	text-align: center;
	font-size: 2rem;
	font-weight: 600;

	color: var(--drx-color-text);
}

#date-display {
	margin-bottom: 0;
	grid-column: 1/-1;

	text-align: center;
	font-size: 1.25rem;
	font-weight: 600;

	color: var(--drx-color-accent);
}

#search-form {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	grid-column: 1/-1;
	text-align: left;
}

.search-container {
	position: relative;
	width: 100%;
	background: var(--drx-color-overlay);
	border: 2px solid var(--drx-color-overlay);
	border-radius: 4rem;
	transition: var(--drx-transition-speed) ease;
	display: flex;
	justify-content: center;
}

.search-container:hover {
	border-color: var(--drx-color-highlight);
}

.search-container:focus-within {
	border-color: var(--drx-color-accent);
}

#search-suggestion, #search-input {
	font-size: 1rem;
	font-family: inherit;
	padding: 0.5rem 1rem;
	text-align: left;
	width: 100%;
	box-sizing: border-box;
}

#search-suggestion {
	position: absolute;
	left: 0;
	top: 0;
	color: var(--drx-color-deactivate);
	pointer-events: none;
	white-space: pre;
}

#search-input {
	background: transparent;
	border: none;
	outline: none;
	color: var(--drx-color-text);
	position: relative;
	z-index: 1;
}

#search-input::placeholder {
	color: var(--drx-color-deactivate);
}

.svg-container {
	margin-left: 0.75rem;
	margin-right: 0.75rem;
}

.svg-icon {
	width: 1.5rem;
	height: 1.5rem;
	filter: var(--drx-button-inactive);
}

.svg-icon:hover {
	filter: var(--drx-button-active);
	cursor: pointer;
}

#image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 41rem;
	width: 22rem;

	gap: 1rem;
}

#image-display {
	height: 35rem;
	width: 20rem;
	object-fit: cover;

	border-radius: var(--drx-border-radius-big);

	transition: var(--drx-transition-speed) ease-in-out;
}

#image-display:hover {
	height: 36rem;
	width: 21rem;
	box-shadow: var(--drx-color-accent) 0rem 0rem 16px;
	transition: var(--drx-transition-speed) ease-in-out;
}

#image-box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 37rem;
}

#image-link-box {
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0rem;
}

#icons-box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(3rem - 4px);
	width: 20rem;

	background: var(--drx-color-surface);
	border-radius: var(--drx-border-radius-big);
}

@media (max-width: 1250px) {
	#image-container {
		display: none;
	}
}

@media (max-width: 768px) {
	ul {
		margin: 0vw 2vw 0vw 2vw;
	}

	#search-input {
		background: var(--drx-color-surface);
	}

	#shortcuts-container {
		background: none;
		box-shadow: none;
		width: 100%;
	}

	#image-container {
		display: none;
	}
}

@media screen and (max-width: 1600px) and (max-height: 900px) {
	* {
		font-size: 16px;
	}
}

@media screen and (max-width: 1366px) and (max-height: 758px) {
	* {
		font-size: 14px;
	}
}
