:root {
    --color-foreground-1: transparent;
    --color-foreground-2: transparent;

    --color-background-1: transparent;
    --color-background-2: transparent;
    --color-background-3: transparent;

    --color-accent-1: transparent;
    --color-accent-2: transparent;

    --color-shadow-1: transparent;
    --color-shadow-2: transparent;

	--button-inactive: transparent;
	--button-active: transparent;

    --transition-speed: 0.25s;
    --border-radius: 0.75rem;
}


@font-face {
    font-family: "default-font";
    src: url("../fonts/hack.ttf");
}

* {
    font-family: 'default-font', sans-serif;
    font-size: 18px;
}

html {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5vw;

    background: var(--color-background-2);
    color: var(--color-foreground-1);
}

a {
    margin-left: 1.5rem;
    text-decoration: none;
    font-size: 1rem;
    color: var(--color-foreground-1);
    transition: var(--transition-speed) ease;
}

a:hover {
    font-weight: bold;
    color: var(--color-accent-1);
    transition: var(--transition-speed) ease;
}

ul {
    margin: 0rem 2rem 0rem 2rem;
    padding: 0;
    list-style-type: none;
    white-space: nowrap;
}

li {
    line-height: 1.5rem;
    color: var(--color-accent-1);
}

li:first-child {
    display: inline-block;

    margin-bottom: 0.5rem;

    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2rem;
}

#settings-container {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	z-index: 2;

    width: 100%;
    height: 100%;

    background-color: var(--color-accent-2);
    backdrop-filter: blur(16px);
}

#settings-box {
    display: flex;
    flex-direction: column;
    align-items: center;

	padding: 3rem;

    border-radius: var(--border-radius);
    background: var(--color-background-3);
    box-shadow: var(--color-shadow-1) 0rem 0rem 2.75rem;
}

#settings-content {
	display: flex;
	flex-direction: row;
	align-items: center;

	gap: 3rem;
}

.settings-options {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.settings-selector {
    padding: 1rem;
    appearance: none;
    cursor: pointer;

    border: none;
    border-radius: var(--border-radius);

    background-color: var(--color-background-2);
    color: var(--color-foreground-1);
}

.settings-selector option {
    height: 3rem;
    background-color: var(--color-background-2);
}

.settings-selector:hover {
    background-color: var(--color-background-1);
    transition: var(--transition-speed) ease-in-out;
}

.settings-selector:focus {
    outline: none;
}

#settings-display {
	display: flex;
    position: absolute;
	justify-content: center;
	z-index: 1;

    height: 1.5rem;
    width: 1.5rem;
    top: 2vh;
    right: 2vw;

    border: none;
    cursor: pointer;
	background: none;
}

#settings-hide {
	display: flex;
	justify-content: center;

    margin-top: 2rem;
    height: 1.5rem;
    width: 1.5rem;

    border: none;
	background: none;
}

#shortcuts-container {
    display: grid;
    grid-row-gap: 1rem;
    grid-auto-rows: max-content;
    grid-template-columns: 1fr 1fr;

    padding: 3rem;
    width: 30rem;
    height: 35rem;

    background: var(--color-background-3);
    border-radius: var(--border-radius);
    box-shadow: var(--color-shadow-1) 0rem 1rem 2.75rem;
}

#title-display {
    margin-bottom: 0;
    grid-column: 1/-1;

    text-align: center;
    font-size: 2rem;
    font-weight: 600;

    color: var(--color-foreground-1);
}

#date-display {
    margin-bottom: 0;
    grid-column: 1/-1;

    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;

    color: var(--color-accent-1);
}

#search-form {
    margin-top: 0rem;
    margin-bottom: 2.3rem;
    grid-column: 1/-1;

    text-align: center;
}

#search-input {
    justify-content: start;
    text-align: center;

    margin-top: 1rem;
    height: 100%;
    width: 100%;

    font-size: 1rem;
    border-color: transparent;
    border-radius: var(--border-radius);
    border-width: 0.2rem;
    border-style: solid;
    background: var(--color-background-2);
    color: var(--color-foreground-1);
    transition: var(--transition-speed) ease;
}

#search-input:hover {
    border-style: solid;
    border-width: 0.2rem;
    border-color: var(--color-foreground-2);
    border-radius: var(--border-radius);
    background: var(--color-background-2);
}

#search-input::placeholder {
    font-size: 1rem;
    border-width: 0.2rem;
    border-color: transparent;
    color: var(--color-foreground-2);
}

#search-input:focus {
    border-color: var(--color-accent-1);
    border-width: 0.22rem;
    border-radius: var(--border-radius);
    border-style: solid;
    outline: none;
    background-color: var(--color-background-3);
}

.svg-icon {
	width: 1.5rem;
	height: 1.5rem;
    filter: var(--button-inactive);
}

.svg-icon:hover {
    filter: var(--button-active);
	cursor: pointer;
}

#image-display {
    height: 35rem;
	width: 20rem;
	object-fit: cover;
    border-radius: var(--border-radius);
    box-shadow: var(--color-shadow-1) 0rem 1rem 2.75rem;
    transition: var(--transition-speed) ease-in-out;
}

#image-display:hover {
    height: 37rem;
	width: 22rem;
    box-shadow: var(--color-shadow-2) 0rem 0rem 2rem;
    transition: var(--transition-speed) ease-in-out;
}

#icons-box {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: 3rem;
}

@media (max-width: 1250px) {
    #image-container {
        display: none;
    }
}

@media (max-width: 768px) {
    ul {
        margin: 0vw 2vw 0vw 2vw;
    }

    #search-input {
        background: var(--color-background-3);
    }

    #shortcuts-container {
        background: none;
        box-shadow: none;
		width: 100%;
    }

    #image-container {
        display: none;
    }
}

@media screen and (max-width: 1600px) and (max-height: 900px) {
    * {
        font-size: 16px;
    }
}

@media screen and (max-width: 1366px) and (max-height: 758px) {
    * {
        font-size: 14px;
    }
}
